<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Page</title>
    <link rel="Stylesheet" href="Style.css">
</head>
<body>
    <!--Title-->
    <div id="Title">
        <h1>Here are your results!</h1>
        <p>(Selected theme: War)</p>
    </div>
    
    <!--Make Madlib with fillabls slots-->
    <div id="Text Box">
        <p>In a surprising turn of events on {{date}}, {{noun}} transformed into a {{verb}} battleground for 
            <br>
            World War III, leaving behind a trail of destruction and chaos with everyone {{verb2}} in its wake.
            <br>
            The once {{adverb}} {{adjective}} land now echoed with the sounds of {{adverb2}} and {{adjective2}}. 
            <br>
            As the dust settled,
            <br>
            the protagonist found themselves grappling with overwhelming emotions and deep-seated trauma.
            <br>
            They felt {{Feel}}, Seeking solace and {{noun2}},
            <br>
            they embarked on a journey of intensive therapy to confront their clinical {{Symptom/illness}} and make sense
            <br>
            of the turmoil that had engulfed their beloved {{noun}}.
        </p>
        
    </div>
</body>
</html>