<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIBS!</title>
</head>
<body>
    <!-- Title -->
    <div class="Title">
        <h1>Madlibs!</h1>
        <p>Created by: Snikitha & Cassidy</p>
    </div>
    <!--NAV bar-->
    <div class="Nav">
        <ul>
            <li><a href="/madlib">Play!</a></li>
        </ul>
    </div>
    <!--INFO-->
    <h2>INFO!</h2>
    <p>Madlibs is an old game which can be compared to a, "Fill in the blank" type of game. The main function of the game is
        <br>
        to fill in a form which commonly consist of nouns, adverbs, adjectives, and other word types for you to input into each
        <br>
        box. Afterwards when you are done submitting your answers, those same answers will be used to fill in the blanks of a
        <br>
        themed paragraph. It's usually played at parties or amny sort of events with multiple people.
    </p>

</body>
</html>