<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIBS!</title>
</head>
<body>
    <!-- Title -->
    <div class="Title">
        <h1>Form</h1>
        <p>Fill out the boxes below! 
            <br>
            Put down ANYTHING you'd like, as long as it fits the category.</p>
    </div>
    <!--NAV bar-->
    <div class="Nav">
        <ul>
            <li><a href="/">Go Back?</a></li>
        </ul>
    </div>
    <!--Fill Form-->
    <form action="{{ url }}" method="POST">

        <label for="date">Enter date </label><br>
        <input required type="text" id="date" name="date"><br>

        <label for="noun">Enter noun </label><br>
        <input required type="text" id="noun" name="noun"><br>

        <label for="verb">Enter verb </label><br>
        <input required type="text" id="verb" name="verb"><br>

        <label for="verb2">Enter verb 2 </label><br>
        <input required type="text" id="verb2" name="verb2"><br>

        <label for="adverb">Enter adverb </label><br>
        <input required type="text" id="adverb" name="adverb"><br>

        <label for="adjective">Enter adjective </label><br>
        <input required type="text" id="adjective" name="adjective"><br>

        <label for="adverb2">Enter adverb 2</label><br>
        <input required type="text" id="adverb2" name="adverb2"><br>

        <label for="adjective2">Enter adjective 2 </label><br>
        <input required type="text" id="adjective2" name="adjective2"><br>

        <label for="feeling">Enter feeling </label><br>
        <input required type="text" id="feeling" name="feeling"><br>

        <label for="noun2">Enter noun 2 </label><br>
        <input required type="text" id="noun2" name="noun2"><br>

        <label for="symptom">Enter a symptom/illness </label><br>
        <input required type="text" id="symptom" name="symptom"><br>

        <label for="noun">Enter noun </label><br>
        <input required type="text" id="noun" name="noun"><br>

        <input type="submit">

    </form>



    
</body>
</html>